In [1]:
# Import SQLite Module
import sqlite3

In [2]:
# Create Database And Connect
db = sqlite3.connect("data.db")

In [3]:
# Create The Tables and Fields
db.execute("create table if not exists user_info (name text, age integer, adress text)")

In [4]:
# Close Database
db.close()

In [5]:
db1 = sqlite3.connect("data1.db")

In [6]:
# Setting Up The Cursor
cr = db1.cursor()

In [7]:
cr.execute("create table if not exists users (user_id integer, name text)")

In [8]:
# Inserting Data
cr.execute("insert into users(user_id, name) values(1, 'Ahmed')")
cr.execute("insert into users(user_id, name) values(2, 'mohammed')")
cr.execute("insert into users(user_id, name) values(3, 'omar')")

In [9]:
db1.commit()

In [10]:
db1.close()

In [11]:
db3 = sqlite3.connect("data2.db")

In [12]:
cr = db3.cursor()

In [13]:
my_list = ["Ahmed", "Sayed", "Mahmoud", "Ali", "Kamel", "Ibrahim", "Enas"]

cr.execute("create table if not exists users (user_id integer, name text)")

In [14]:
for key, user in enumerate(my_list):
    cr.execute(f"insert into users(user_id, name) values({key + 1}, '{user}')")

In [15]:
# Save (Commit) Changes
db3.commit()

In [16]:
# Close Database
db3.close()

## select

In [17]:
db3 = sqlite3.connect("data2.db")

# Setting Up The Cursor
cr = db3.cursor()

# Fetch Data
cr.execute("select * from users")

In [18]:
print(cr.fetchone())
print(cr.fetchone())
print(cr.fetchone())
print(cr.fetchone())

(1, 'Ahmed')
(2, 'Sayed')
(3, 'Mahmoud')
(4, 'Ali')

In [19]:
print(cr.fetchall())

[(5, 'Kamel'), (6, 'Ibrahim'), (7, 'Enas')]

In [36]:
db3.close()

## update and delete

In [20]:
# Create Database And Connect
db3 = sqlite3.connect("data2.db")
# Setting Up The Cursor
cr = db3.cursor()
# Delete Data
cr.execute("delete from users where user_id = 3")

In [21]:
db3.commit()

In [22]:
# Update Data
cr.execute("update users set name = 'Mahmoud' where user_id = 1")
cr.execute("update users set name = 'khaled' where user_id = 2")
cr.execute("update users set name = 'hussain' where user_id = 5")

In [23]:
db3.commit()

In [24]:
db3.close()